<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserCP</servlet-name>
        <url-pattern>/usercp.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCP</servlet-name>
        <servlet-class>servlets.UserCP</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>servlets.ShowBook</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/book.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlets.DeleteBook</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/delete_book.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminCP</servlet-name>
        <servlet-class>servlets.AdminCP</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminCP</servlet-name>
        <url-pattern>/admincp.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchAuthors</servlet-name>
        <servlet-class>servlets.SearchAuthors</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchAuthors</servlet-name>
        <url-pattern>/search_authors.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Browse</servlet-name>
        <servlet-class>servlets.Browse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Browse</servlet-name>
        <url-pattern>/browse.do</url-pattern>
    </servlet-mapping>
</web-app>
