html {
    background-color: lightgreen !important;
}

body {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid #000 1px;
    color: purple;
    font-family: "comic sans ms", sans-serif;
    background-color: lightyellow;
    font-size: 12pt;
}

a, a:hover, a:visited {
    color: inherit !important;
}

#heading {
    position: absolute;
    font-size: 1.75em;
    color: deeppink !important;
}

#spanSubNav {
    font-size: 0.6em;
}

#spanBreadcrumbs {
    font-size: 0.4em;
    font-style: italic;
}

#header {
    height: 80px;
    width: 100%;
    border-bottom: solid #222 1px;
}

.input {
    font-size: 0.8em;
    color: #222;
}

#pagefooter {
    margin: auto;
    width: 100px;
    position: relative;
    margin-bottom: 20px;
    font-size: 0.5em;
}

.inputGeneric {
    border: solid #aaa 1px;
    background-color: #ddd;
    color: #222;
}

.inputWrong {
    border: solid #f22 1px !important;
}

.inputLogin {
    width: 100px;
    height: 20px;
    font-size: 0.85em;
    padding: 2px;
    margin-right: 2px;
}

#inputPw {
    margin-top: 22px;
}

.btnGeneric {
    border: none;
    background-color: #aaa;
    color: #000;
}

#btnLogin {
    height: 42px;
    width: 42px;
    position: absolute;
}

#containerLogin {
    position: absolute;
    margin-left: 655px;
    width: 144px;
    font-size: 0.8em;
}

#spanRegNot {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: -6px;
}

#spanLogin {
    text-align: right;
    display: inline-block;
    width: 100%;
}

#body {
    padding: 10px;
}

.emphasis {
    font-weight: bold;
    font-size: 0.9em;
}

.logicalGroup {
    display: block;
    border: solid #ddd 1px;
    padding: 4px;
    margin: 2px;
}

.authors {
    font-style: italic;
    color: green !important;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    color: deepskyblue !important;
}