html {
    background-color: #eee;
}

a {
    color: #026;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 0;
}

hr {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #fafafa;
    border-left: 0px;
    border-right: 0px;
}

#page {
    width: 800px;
    margin: 20px auto;
    border: solid #eee 1px;
    color: #222;
    border-radius: 8px;
    font-family: sans-serif;
    background-color: #fff;
    font-size: 12pt;
}

#pageheader {
    background: #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.0));
    border-radius: 8px 8px 0px 0px;
    padding: 16px 16px 8px 16px;
}

#heading {
    position: absolute;
    font-size: 2em;
}

#spanSubNav {
    font-size: 0.6em;
}

#spanBreadcrumbs {
    font-size: 0.4em;
    font-style: italic;
}

#header {
    height: 80px;
}

.input {
    font-size: 0.8em;
    color: #222;
}

#pagefooter {
    width: 100px;
    position: relative;
    margin: auto auto 20px;
    font-size: 0.5em;
}

.inputGeneric {
    border: solid #ccc 1px;
    border-radius: 2px;
    background: #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.0));
    padding: 5px;
    font-size: 9pt;
    color: #222;
}

.inputGeneric:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.0));
}

.inputGeneric:focus {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.0));
}

.inputWrong {
    border: solid #d44 1px !important;
}

.inputLogin {
    width: 100px;
    height: 20px;
    font-size: 0.85em;
    padding: 2px;
    margin-right: 2px;
}

#inputPw {
    margin-top: 22px;
}

.btnGeneric {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    background: #eee linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
    color: #000;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 2px 0px 2px;
    display: inline-block;
}

.btnGeneric:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.04));
    cursor: default;
    text-decoration: none;
}

.btnGeneric:active {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.04));
    cursor: default;
}

.btnSmall {
    padding: 1px;
    margin: 0px;
}

.btnNegative {
    border: 1px solid #844;
    background-color: #955;
    color: #fff !important;
}

.btnPositive {
    border: 1px solid #373;
    background-color: #484;
    color: #fff !important;
}

.btnSubmit {
    border: 1px solid #37a;
    background-color: #48b;
    color: #fff !important;
}

#btnLogin {
    height: 42px;
    width: 42px;
    margin: 0;
    position: absolute;
}

#containerLogin {
    position: absolute;
    margin-left: 624px;
    width: 144px;
    font-size: 0.8em;
}

#spanRegNot {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

#spanLogin {
    text-align: right;
    display: inline-block;
    width: 100%;
}

#body {
    padding: 8px 16px 16px 16px;
}

.emphasis {
    font-weight: bold;
    font-size: 0.9em;
}

.logicalGroup {
    display: block;
    background: #fafafa linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.0));
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #ddd;
}

.authors {
    font-style: italic;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

.success {
    border: 1px solid #365;
    background-color: #275;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.05));
    font-size: 36px;
}

.fail {
    border: 1px solid #522;
    background-color: #721;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.05));
    font-size: 36px;
}

.information {
    border: 1px solid #478;
    background-color: #27a;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.05));
}

.question {
    border: 1px solid #478;
    background-color: #27a;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.05));
}

.notificationMessage {
    position: absolute;
    margin-top: 16px;
    height: 20px;
    padding: 4px;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    text-align: center;
    width: 690px;
    display: inline-block;
}

.smallEmphasis {
    font-size: 10pt;
    font-variant: small-caps;
    font-weight: bold;
}

#buttonsFoot {
    margin-top: 10px;
}